[project]
name="NUCS"
version="3.0.0"
authors = [
  { name="Yan Georget", email="yan.georget@gmail.com" },
]
description="A Numpy and Numba based Python library for solving Constraint Satisfaction Problems over finite domains"
readme = "README.md"
requires-python = ">=3.9"
classifiers = [
    "Development Status :: 4 - Beta",
    "Intended Audience :: Developers",
    "Intended Audience :: Science/Research",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
    "Programming Language :: Python :: 3",
    "Topic :: Scientific/Engineering :: Artificial Intelligence",
    "Topic :: Scientific/Engineering :: Mathematics",
    "Topic :: Software Development :: Libraries :: Python Modules"
]
dependencies = [
    "numba==0.60.0",
    "numpy==2.0.1",
]
[project.urls]
Homepage = "https://github.com/yangeorget/nucs"
Issues = "https://github.com/yangeorget/nucs/issues"

[build-system]
requires = ["setuptools>=61.0"]
build-backend = "setuptools.build_meta"

[tool.isort]
profile = "black"
line_length = 120

[tool.black]
line-length = 120

[tool.setuptools.packages]
find = {}